In [ ]:
import pandas as pd 
import time

In [ ]:
df = pd.read_csv('./transaction_data.csv')
# fix format time 
df["TransactionTime"] = pd.to_datetime(df['TransactionTime'])

In [ ]:
# ! pip install cx_Oracle sqlalchemy

In [ ]:
from sqlalchemy import create_engine
import cx_Oracle

# Set up the Oracle connection
dsn = cx_Oracle.makedsn(host='localhost', port=1521, service_name='ORCLCDB')
username = 'c##kevin'
password = 'kevin123'
connection = cx_Oracle.connect(username, password, dsn)

# Create an SQLAlchemy engine
engine = create_engine(f'oracle+cx_oracle://{username}:{password}@localhost:1521/ORCLCDB')

In [ ]:

from sqlalchemy.dialects.oracle import (
                                        FLOAT,
                                        NUMBER,
                                        VARCHAR2,
                                        DATE
                                        )

# Define the table name and schema
table_name = 'test_table'
schema_name = 'C##KEVIN'


dtype = {"UserId" : NUMBER,
         "TransactionId" : NUMBER,      
         "TransactionTime": DATE,
         "ItemCode": NUMBER,
         "ItemDescription": VARCHAR2(255),
         "NumberOfItemsPurchased": NUMBER,
         "CostPerItem": FLOAT,
         "Country": VARCHAR2(124),
        }
# Export the DataFrame to the Oracle database
print("Import bulk data to Oracle database")
df.to_sql(table_name, engine, schema=schema_name, if_exists='replace', index=False, dtype=dtype)

# Close the connection
connection.close()

Update : 
- Import data transaksi was down,
- make looping for insert data oracle, for testing cdc with delay 10 second

In [ ]:
table_name = "test_table"
schema_name = 'C##KEVIN'

with engine.connect() as connection:
    for i, row in df.iterrows():
        row_df = pd.DataFrame(row).T # Transform the row into a DataFrame
        row_df.to_sql(table_name, connection, schema=schema_name, if_exists='append', index=False, dtype=dtype)
        time.sleep(5) # Wait for 5 second
        print(f"Inserted row {i + 1} into {table_name}")

# Close the connection  
connection.close()